html {
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

body {
  margin: 40px auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 18px;
  color: #333;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  font-family: "Overlock", sans-serif;
}

article h1 {
  font-size: 2em;
}

h1,
h2,
h3,
h4 {
  color: #222;
  line-height: 1.2;
  font-family: "Special Elite", serif;
  font-weight: normal;
}

strong {
  font-family: "Special Elite", serif;
  font-weight: 900;
}

header {
  position: relative;
  text-align: center;
}

blockquote {

  border-left: 1px black;
  display: block;
  font-size: 1em;
  margin-left: 60px;
  margin-right: 60px;
  text-align: justify;
  font-family: "Inconsolata", fixed;
  line-height: 16px;
  border-left: 2px solid #777;
  padding-left: 12px;

}

blockquote li {
  padding-top: 8px;
  padding-bottom: 8px;
}

article>span {
  font-family: "Special Elite", serif;
}

img {
  max-width: 100%;
}

code {
  font-family: "Inconsolata", monospace;
}

pre code {
  line-height: 1;
  font-size: 0.8em;
}

.language-plaintext {
  white-space: pre-wrap;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.language-switch a {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2em;
  text-decoration: none;


}


hr {
  display: block;
  width: 100%;
  height: 42px;
  background-image: url('/images/divider.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;

}